<mat-nav-list>
  <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
      <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">Profile</span>
  </a>
  <a mat-list-item routerLink="/calendar" (click)="onSidenavClose()">
      <mat-icon>date_range</mat-icon> <span class="nav-caption">Calendar</span>   
  </a>
  <a mat-list-item routerLink="" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon> <span class="nav-caption">Logout</span>   
</a>
</mat-nav-list>