<mat-card>
    <div class="example-container">
      
    
      <label>Group</label><br>
    
      <form [formGroup]="myForm">
              <mat-form-field>
                <input matInput placeholder="group name" formControlName="name" id="name" >
                <mat-hint align="end">Not more then 30 characters long.</mat-hint>
                <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
                <mat-error *ngIf="hasError('name', 'maxlength')">You have more than 30 characters</mat-error>
              </mat-form-field>
          
              <mat-form-field>
                  <input matInput placeholder="members" formControlName="members" id="members">
                  <mat-hint align="end">Not more then 60 characters long.</mat-hint>
                  <mat-error *ngIf="hasError('members', 'required')">Name is required</mat-error>
                  <mat-error *ngIf="hasError('members', 'maxlength')">You have more than 60 characters</mat-error>
                
                </mat-form-field>
                  
                  <div class="row">
                      <button class="example-full-width" mat-button (click)="add()" routerLink="/home">Add</button>
                      <button class="example-full-width" mat-button (click)="cancel()"  routerLink="/home">Cancel</button>
                    </div>

      </form>
           
                
      </div>
    </mat-card>