
<mat-card>
    <div class="example-container">

        <label>LOGIN</label>
        <form [formGroup]="loginForm">
          <div>
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="Wprowadź adres e-mail" formControlName="email" required>
                  <mat-error *ngIf="f.email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
          </div>
            
          <div>
              <mat-form-field class="example-full-width">
                  <input required matInput placeholder="Hasło" type="password" formControlName="password">
                </mat-form-field>
          </div>
            
      
            <div class="row">
                <button class="example-full-width" mat-button (click)="onSubmit()">Login</button>
                <button class="example-full-width" mat-button routerLink="/register">Register</button>
            </div>
                
          </form>
      
      
          
      </div>
</mat-card>