<div class="nav" *ngIf="authenticationService.isAuthenticated()">
<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>

    <div _ngcontent-c1="" class="flex-spacer"></div>
    
    <img class="avatar" src="assets/profile2.png">
    <div *ngIf="user!==undefined">
    <button mat-button [matMenuTriggerFor]="aboveMenu">{{user.displayName}}</button></div>
    <mat-menu #aboveMenu="matMenu" yPosition="above">
    <button mat-menu-item routerLink="/home">Profile</button>
    <button mat-menu-item routerLink="/calendar">Calendar</button>
    </mat-menu>

    <a mat-button routerLink="" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon> <span class="nav-caption">Logout</span>   
  </a>
  </mat-toolbar>
  </div>

  