

a {
    text-decoration: none;
    color: white;
}
 
a:hover, a:active{
    color: lightgray;
}
 
.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
 
mat-toolbar{
    border-radius: 3px;
}
 
@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}




.navbar{
    background-color: #3f51b5;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;
    margin: 0px;
    text-align: center;
    opacity: 0.8;
}

.flex-spacer[_ngcontent-c1] {
    flex-grow: 1;
}

.calendar-logo{
    width: 35px;
    height: 35px;
    
}

.profile{
    width: 200px;
    height: 200px;
    display: flex;   
}

.home-conteiner{
    margin: auto;
    margin-top: 50px;
    align-items: center;
    width: 75%;
    display: flex;
}

.avatar {
    width: 40px;
    min-width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 8px 0 0;
    border-radius: 50%;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}
mat-list{
    width: 100%;
    color: rgba(0, 0, 0, 0.54);
}


.toDo{
    color: rgba(0, 0, 0, 0.54);
}

.mat-list-item{
    color: rgba(0, 0, 0, 0.54);
    font-style: italic;
  }

.container{
    margin: 50px;
    font-size: 2em;
    text-decoration: none;
    text-align: center;
}
