<mat-card>
    <div class="example-container">
      
    
      <label>Add New Event</label><br>
    
      <form [formGroup]="eventForm">
          <mat-form-field>
              <input matInput placeholder="Event Name"  formControlName="eventName" id="eventName">             
              <mat-hint align="end">Not more then 30 characters.</mat-hint>
              <mat-error *ngIf="hasError('eventName', 'required')">Event name is required</mat-error>
              <mat-error *ngIf="hasError('eventName', 'maxlength')">You have more than 30 characters</mat-error>
              <mat-error *ngIf="hasError('eventName', 'minlength')">You have less than 2 characters</mat-error>
            
            </mat-form-field>

            <mat-checkbox (change)="onChangeFirst()" [disabled]="isCheckedFirst">Personal Scope</mat-checkbox><br>
            <mat-checkbox  (change)="onChangeSecond()" [disabled]="isCheckedSecond">Group</mat-checkbox><br>
        
            <mat-form-field>
                <input matInput [matDatepicker]="picker" required placeholder="Choose a date" formControlName="date" id="date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker  startView="multi-year"
                (yearSelected)="chosenYearHandler($event)"
                (monthSelected)="chosenMonthHandler($event, dp)"
                panelClass="example-month-picker">


                </mat-datepicker>
                <mat-hint align="end">Not more then 10 characters.</mat-hint>
              <mat-error *ngIf="hasError('date', 'required')">Event date is required</mat-error>
              <mat-error *ngIf="hasError('date', 'maxlength')">You have more than 10 characters</mat-error>
            
              </mat-form-field>
                
                <div class="row">
                    <button class="example-full-width" mat-button (click)="add()" routerLink="/calendar">Add</button>
                    <button class="example-full-width" mat-button (click)="cancel()"  routerLink="/calendar">Cancel</button>
                  </div>
      </form>
            
                
      </div>
    </mat-card>