/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import '~ngx-toastr/toastr.css';

/* for sidenav to take a whole page */
html, body { 
    margin: 0;
    height: 100%;
}