<!-- <nav _ngcontent-c1 class="navbar">
    <img _ngcontent-c1="" alt="Calendar" class="calendar-logo" src="assets/icon.png">
<button mat-button [matMenuTriggerFor]="aboveMenu" routerLink="/home">Profile</button>
<mat-menu #aboveMenu="matMenu" yPosition="above">
</mat-menu>

<button mat-button [matMenuTriggerFor]="belowMenu"  routerLink="/calendar">Calendar</button>
<mat-menu #belowMenu="matMenu" yPosition="below">
</mat-menu>

<div _ngcontent-c1="" class="flex-spacer"></div>

<img class="avatar" src="assets/profile2.png">
<button mat-button [matMenuTriggerFor]="aboveMenu">Jan Kowalski</button>
<mat-menu #aboveMenu="matMenu" yPosition="above">
  <button mat-menu-item routerLink="/home">Profile</button>
  <button mat-menu-item routerLink="/calendar">Calendar</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="belowMenu" routerLink="/login">Logout</button>
<mat-menu #beforeMenu="matMenu" xPosition="before"></mat-menu>
</nav> -->


<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <div fxFlex="20%" *ngFor="let i of [1]">
      <mat-card>
      <label class="toDo">Calendar</label>
        <mat-calendar ></mat-calendar>
      </mat-card>
    </div>
  </div>
 

  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
        <mat-card>
            <div class="row">
                <button class="example-full-width" mat-button (click)="onSelect()">Add</button>
              </div>
            <label class="toDo">To Do</label>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <ng-container matColumnDef="description">
                  <th mat-header-cell *matHeaderCellDef> Event </th>
                  <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>
              
                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef> Date </th>
                  <td mat-cell *matCellDef="let element"> {{element.date | date:'MM/dd/yyyy'}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
        </mat-card>
    </div>
  
    
