.navbar{
    background-color: #3f51b5;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;
    margin: 0px;
    text-align: center;
    opacity: 0.8;
}

.flex-spacer[_ngcontent-c1] {
    flex-grow: 1;
}

.calendar-logo{
    width: 35px;
    height: 35px;
    
}



.profile{
    width: 200px;
    height: 200px;
    display: flex;   
    flex-direction: column;
}

.home-conteiner{
    margin: auto;
    margin-top: 50px;
    align-items: center;
    width: 80%;
}

.card-info{
    width: 100%;
    display: flex;
    margin: 10px;
    color: rgba(0, 0, 0, 0.54);
  }

  .card-group{
    width: 100%;
    margin: 10px;
    color: rgba(0, 0, 0, 0.54);
  }

  mat-list{
      width: 100%;
      color: rgba(0, 0, 0, 0.54);
  }


 .mat-list-item{
    color: rgba(0, 0, 0, 0.54);
    font-style: italic;
  }

 .info{
    margin: 10px;
    text-align: end;
    width: 50%;
    color: rgba(0, 0, 0, 0.54);
 }  

 .example-full-width{
    background-color: #3f51b5;
    color: white;
    margin: 1px;
    opacity: 0.8;
  }

.avatar {
    width: 40px;
    min-width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 8px 0 0;
    border-radius: 50%;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}


/* for groups table */


mat-list{
    width: 100%;
    color: rgba(0, 0, 0, 0.54);
}

.mat-list-item{
    color: rgba(0, 0, 0, 0.54);
    font-style: italic;
  }
.container{
    font-size: 2em;
    text-decoration: none;
    text-align: left;
    
}

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .mat-fab.mat-accent, .mat-flat-button.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent {
    background-color: #ff4081;
    color: white;
  }