<div class="home-conteiner">
<mat-card class="card-info">
 <img class="profile" src="assets/profile2.png" >
 
 <div class="info">
        <div *ngIf="user!==undefined">
     <label> {{user.displayName}} </label> <br><br>
     <label> {{user.collage}}</label><br>
     <label> {{user.department}} </label><br>
     <label> {{user.course}} </label><br>
     <label> {{user.semester}} </label><br>
    </div>
</div>
</mat-card>

<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    
 
  <mat-card>
      <div class="row">
          <button class="example-full-width" mat-button (click)="openDialog()">Add</button>
        </div>
      <label class="toDo">My groups:</label>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <ng-container matColumnDef="groupName">
            <th mat-header-cell *matHeaderCellDef> Group Name </th>
            <td mat-cell *matCellDef="let element"> {{element.groupName}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
  </mat-card>
</div>


</div>


