<mat-card>
        <form  [formGroup]="registerForm">
<div class="example-container">
  <label>REGISTRATION</label>
  
      <mat-form-field>
      <input required  matInput placeholder="email" formControlName="email" >
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field>
            <input required matInput placeholder="Password" type="password" formControlName="password">
      </mat-form-field>

      <mat-form-field>
            <input required matInput placeholder="Confirm Password" type="password" formControlName="confirmPassword">
      </mat-form-field>

      <mat-form-field>
        <input required  matInput placeholder="Name and Surename" formControlName="displayName" >
      </mat-form-field>

      <mat-form-field>
            <input required  matInput placeholder="collage" formControlName="collage" >
          </mat-form-field>

          <mat-form-field>
                <input required  matInput placeholder="department" formControlName="department">
              </mat-form-field>

              <mat-form-field>
                    <input required  matInput placeholder="course" formControlName="course" >
                  </mat-form-field>

                  <mat-form-field>
                        <input required matInput placeholder="semester" formControlName="semester">
                      </mat-form-field>

      <div class="row">
      <button class="example-full-width" mat-button routerLink="" (click)="onSubmit()">Register</button>
      <button class="example-full-width" mat-button routerLink="/login">Cancel</button>
      </div>
            
  </div>
  </form>
  <div class="content" *ngIf="loading">
      <mat-spinner></mat-spinner>
  </div>
</mat-card>